/*
 * Copyright ©2019 Hal Perkins.  All rights reserved.  Permission is
 * hereby granted to students registered for University of Washington
 * CSE 331 for use solely during Spring Quarter 2019 for purposes of
 * the course.  No other use, copying, distribution, or modification
 * is permitted without prior written consent. Copyrights for
 * third-party components of this work must be honored.  Instructors
 * interested in reusing these course materials should contact the
 * author.
 */

 /* CSS file used by the Application */
 /* It provides placement information for the components in the app */

.button {
  padding: 10px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-text {
	text-align: center
}

#number-field-div {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}